<form method="get" action="/quizes/<%= quiz.id %>/answer">

	<b>Pregunta: </b> <%= quiz.pregunta %>
	<input type="text" name="respuesta" value="Respuesta" />
	<input type="submit" value="Enviar" />

</form>